#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  filter: drop-shadow(4px 2px 1px rgba(25, 50, 100, 0.6 ));
}

.intro {
  border-color: rgba(50, 100, 200, 0.6);
  border-style: solid;
  border-radius: 1rem;
  border-width: 3px;
  background-color: rgba(50, 100, 200, 0.3);
  padding: 1rem;
}

.intro-list {
  text-align: left;
}