#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.heading {
  filter: drop-shadow(4px 2px 1px rgba(25, 50, 100, 0.6 ));
}

.intro {
  border-color: rgba(50, 100, 200, 0.6);
  border-style: solid;
  border-radius: 1rem;
  border-width: 3px;
  background-color: rgba(50, 100, 200, 0.3);
  padding: 1rem;
  margin: 1rem;
}

.intro-list {
  text-align: left;
}

.random-number-generator {
  border-color: rgba(50, 100, 200, 0.6);
  border-style: solid;
  border-radius: 1rem;
  border-width: 3px;
  background-color: rgba(50, 100, 200, 0.3);
  margin: 1rem;
  padding: 1rem;
}

.slider {
  appearance: none;
  background-color: rgba(75, 110, 190, 0.6);
  border: 2px solid;
  border-radius: 1rem;
  border-color: rgb(110, 140, 200);
  opacity: 0.6;;
  width: 60%;
  align-self: left;
  margin: 0.2rem
}

.slider:hover {
  opacity: 0.8;
  cursor: ew-resize;
}


.slider-container {
  text-align: left;
}